# Flutter/Dart
.dart_tool/
.pub/
.pub-cache/
build/
*.iml
*.lock
*.log

# Android
android/.gradle/
android/app/build/
android/.idea/

# iOS
ios/.symlinks/
ios/Pods/
ios/.generated/

# VS Code
.vscode/

# Windows
windows/

# macOS
macos/

# Web
build/web/

# Gradle
.gradle/
gradle/